<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhstp.wificompass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="at.fhstp.aploc.activities.MainActivity"
            android:screenOrientation="fullSensor" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/project"
            android:name="at.fhstp.aploc.activities.ProjectActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/wifi_scan"
            android:name="at.fhstp.aploc.activities.SampleScanActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/about"
            android:name="at.fhstp.aploc.activities.AboutActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/filebrowser_label"
            android:name="at.woelfel.philip.filebrowser.FileBrowser" >
        </activity>
    </application>

</manifest>